html, body {
		width: 100%; 
		height: 100%;
		margin: 0px;
		margin-bottom: 0px;
    	padding: 0px;

    }
#name{
	font-family: 'David Libre', sans-serif;
	text-align: left;
	color: #3b5998;
	color:black;
	font-size: 32px;
	margin-top:16px;
	margin-bottom: 16px;
	margin-left: 0px;

}

header{
	height:66px;
	border-bottom: 1px solid black;
	position:absolute;
	top:0px;
	margin-left: 16px;
	width:96%;
}

.social ul,nav{text-align:right}
.social li{display:inline-block}
.social ul{margin-left:0;margin-bottom:0}
.social a,.social svg{display:block}
.social a{height:1.5rem;width:1.5rem}
.icon{color:#424242;fill:#424242}
.icon:hover{border-radius:100%;background:#e8e8e8;color:#3b5998;fill:steelblue;-ms-transform:scale(2);transform:scale(2);transition:background-color .5s,transform .5s ease-out}


/*-------------------------------------*/
.container {
	position:absolute;
	top:100px;
		display:flex;
		flex-direction: row;
		flex-flow:row wrap;
	justify-content: space-around;
	flex-grow:1;


	}


a{
	text-decoration: none;

}
figure{
	width:45%;
	padding:8px;
	margin:0px;
	
}
figure:hover{ 
	cursor:pointer;
	border:solid black 1px;
	}

img{
	width:100%;
	margin:0px;
	
}

p{background-color: white;
color:black;}

.title{

margin:2px;
text-align: left;
color: #3b5998;

}
.info{
	font-family: 'Montserrat',sans-serif;
	height:80px;
	word-wrap:break-word;
	overflow: hidden;
	
}

hr{
	display:none;
}

/*-------------------------------------*/

@media all and (max-width:1000px) {
.container{
	justify-content: space-between;
	margin:6px;
}

header{
	width:96%;
}
figure{
	width:45%;
}
}



@media all and (max-width:700px) {

#name{
	font-size: 24px;
	text-align: center;
}
header{height:56px;
		width:100%;
		margin:0px;
}
figure{
	width:95%;
}
.container{
	justify-content: center;
	flex-direction: column;
	top:66px;
}
hr{
	display:block;
}

}

@media all and (min-height:1000px){
	figure{
		width:100%;
	}
	hr{
		display:block;
	}
	.title{
		font-size: 19px;
	}
	.info{
		font-size: 19px;
	}
}


