/*-------------------------------------------------------------------------------------------------------------------
------------------------------------------------Contents---------------------------------------------------

1. Constants
2. Opening Section
3. Blackspace
4. Results Section
5. Media Quries

-------------------------------------------------------------------------------------------------------------------
---------------1-------------------------------Constants---------------------------------------------------*/
iframe{height:100%; width:100%};

html, body {
  width: 100%; 
  height: 100%;
  margin: 0px;
  margin-bottom: 0px;
  padding: 0px;
  background-color: black;
}
p {
  font-family: 'David Libre';
}
/*Padding/margin set to zero and width/height to 100% to avoid white spaces on edge of screen. 
-------------------------------------------------------------------------------------------------------------------
---------------2-------------------------------Opening Section----------------------------------------------------*/

#opener {
  background: url(../images/burger.jpg) no-repeat center center fixed; 
  background-size: cover;
  height: 100vh;
  margin:0;
  position: relative;
  z-index: 100;
}
/*  The opener id refers to the background image on the first page. It is styled to not move with scrolling and 
to crop when the window is reduced. It should cover the screen completely. Code for this comes from
https://css-tricks.com/perfect-full-page-background-image/
The Image itself is from Unsplash. https://unsplash.com/search/burgers?photo=E6HjQaB7UEA
Z-index is set to 100 as it is currenly hiding the nav-bar for the next section*/
#openingnav { 
  position:absolute;
    top:40%;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%,-50%); 
}
/* The code here to position in the center of the screen comes from
https://www.w3.org/Style/Examples/007/center.en.html  */
h1 {  
  color: white;
  text-align: center;
  font-size: 72px;
  font-family: "David Libre";
}
#autocomplete {
  width: 650px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 16px;
  float: left;
  color: #fff;
  padding-left: 15px;
  border-radius: 5px;
  opacity:0.8;
}
#letsGo_button, #findMe_button { 
  font-family:'David Libre';
  background-color: white;
  color: black;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  opacity:0.8;
}
#letsGo_button {
  margin-top: 34px
}
#letsGo_button:hover, #findMe_button:hover {
  background-color: #2b303b;
  color:white;
} 
/* Help with the styling of the autocomple location search bar came from this site:
https://webdesign.tutsplus.com/tutorials/css-experiments-with-a-search-form-input-and-button--cms-22069
--------------------------------------------------------------------------------------------------------------------------
---------------3-----------------------------Blackspace----------------------------------------------------------------- */
#blackspace {
  width:100%;
  height:300px;
  background-color: black;
  z-index:2;
  position:relative;
}
.reload {
  display:none;
}
.showreload {
  display: block;
}
#reload {
  position:relative;
  margin-right:-50%;
  transform:translate(-50%,-50%);
  float:left;
  top:40%;
  left:50%;
}
#neon {
  position:relative;
  margin-top: 50px;
  display:block;
  float: left;
}

#reload_button {
  text-decoration: none;
  color:white;
  font-family: "David Libre";
  margin-top: 150px;
  border: double white;
  background-color: black;
  float:left;
  font-size: 32px;
  padding: 5px;
}
#reload_button:hover {
  background-color: white;
  color:black;
  border: double black;
}
/*Above styling refers to the black space between the opening and results sections. The Reload button and Neon elements
dynamiccaly appear based on scroll position coded in Javascript.   
----------------------------------------------------------------------------------------------------------------------------
-------------------4-------------------------Results Section----------------------------------------------------------------- */
#results {
  display:none;
  width:100%;
}
#navbar {
  height:50px;
  z-index: 1;
  width:100%;
  background-color: white;
  position:relative;
  top:0;
  left:0;  
}
#home {
  text-decoration:none;
  font-size: 16px;
  width:100px;
  margin-left:2px;
  font-family:'Pacifico', cursive;
  position:relative;
  top:12px;
  margin-left:10px;
  border:double black;
  color:black;
}
.home {
  padding:5px;
}
#home:hover {
  border:double white;
  background-color: black;
  color:white;
  cursor: pointer;
}
.switchReload {
  width:100px;
  padding:5px;
  padding-left: 25px;
  padding-right:25px;
}

/* Above elements style the navigation bar. It is hidden for the beginning section with a fixed display and a low z-index
level, and then is fits into the placeholder when the user scrolls down far enough. The home button switches text on hover
using javascript and css alters the style appropriately */
* { 
  box-sizing: border-box; 
}
#lord {
  background-color: #e5e5e5;
  width:100%;
  height:100%;
  overflow:hidden;  
}
#info {
  border-top: solid #e5e5e5 ;
  width:450px;
  float: left;
  background-color: white;
  overflow-y: hidden;
  height: 98%;
  padding-bottom: 100%;
  margin-bottom: -100%;
  padding-top: 20px;
}
#placeName {
  font-size: 32px;
  font-family:'David Libre';
  text-align: center;
}
#open {
  font-size: 16px;
  text-align: center;
}
.picture-folder {
  height:160px;
}
.picture-cell {
  height:100%;
  float:left;
  width:33.33%;
}
.vPics {
  width:100%;
}
#tips, #rating { 
  font-size: 16px;
  font-family:'David Libre';
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
#mapid { 
  height: 400px;
}
#linkBox {
  margin-left:10px;
}
#moInfo {
  float:left;font-family: 'David Libre';
}
#sq4 {
  margin-top: 4px;
}
/* Above are styling for the dom created elements in the information column.   */
.grid {
  padding-left:16px;
  padding-top: 16px;
  border: 2px solid #333;
  border:none;
  margin-left: 450px;
  height:100%;
  position: relative;
  padding-bottom: 100%;
  margin-bottom: -100%;
  background-color: #e5e5e5;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-item {
  width: 125px;
  height: 200px;
  float: left;
  border: 4px solid;
  border-color:  #e5e5e5;
  font-family: 'David Libre';
  text-align: center;
  padding-left: 5px;
  padding-right:5px;
  background-color: white;
  padding-top: 84px;
}
.grid-item:hover {
  background: black;
  color:white;
  cursor: pointer;
}
.grid-item--height2 { 
  height: 100px; 
  padding-top: 34px;
}
.grid-item--large {
  width: 250px;
  height: 200px;
}
/*Above is the styling for the grid and the grid items. The grid is positioned to the right of the information column.  */
footer {
  margin-top:0px;
  position:relative;
  top:0;
  background: url("https://source.unsplash.com/1600x900/?burgers,food") no-repeat center ; 
  background-size: cover; 
  width:100%;
  height:800px;
}
/*Above is the styling for the footer with a large background image. The background image is from the Unsplash API so should
change on every visit of the page.
----------------------------------------------------------------------------------------------------------------------------
------------------5--------------------------Media Queries----------------------------------------------------------------- */

@media all and (max-width:857px) {

.grid-item, .grid-item--height2, .grid-item--large, .grid-item--height3 {
  height: 40px;
  width: 38vw;
  padding:0;
  border-top: 1px;
  padding-top: 10px;
  font-size: 2.8vw;
}
#info {
  width:62vw;
}
.grid {
  width:100%;
  padding-left:0px;
  padding-top: 2px;
  margin-left: 62vw;
}
#autocomplete {
  width:80vw;
  display:block;
}
#letsGo_button {
  display: block;
  margin-left: 66vw;
}               
.picture-folder {
  height:20%;
}
#tips {
  position: relative;
  top:5px;
}
#openingnav {
  left:48%;
}
h1 {
  font-size:12vw;
}

}
/*Above are the media queries for 450-857 pixes. The grid items are rearranged into single file and streched to fill screen.*/

@media all and (max-width:450px) {


#tips {
  font-size: 14px;
  padding-left:18px;
  padding-right:18px;
}
#mapid {
  height:400px; 
  width:100%;
}
footer {
  height:400px;
}
.grid {
  float:left;
  margin-left:0px;
}
#lord {
  width:100%;
}
#info {
  width:100%;
}
.grid-item, .grid-item--height2, .grid-item--large, .grid-item--height3 {
  height: 30px;
  width: 95vw;
  padding:0;
  border-top: 1px;
  padding-top: 10px;
  font-size: 4vw;
}
#letsGo_button {
  margin-left: 60vw;
}
#opener {
  width:100%;
  overflow-x: hidden;
}   
h1 {
  font-size:10vw;
}
#sq4 {
  margin-top: 0px;
}
.navbar {
  width:100%;
}

}
/*The media queries above are for small screens. The main change here is that the grid-items are rearranged to 
display underneath the information section, and are displayed 2 by 2. */