
html, body{
  margin:0px;
  height:100%;
  width:100%;
}
#vis{
  width:100%;
  height:90%;
}

.axis--x path {
  display: block;
}

.line {
  fill: none;
  stroke:grey;
  opacity:0.3;
  stroke-width: 1px;
}

.line:hover{
  stroke-width:1.5px;
    stroke:black;
    opacity: 1;
}

.jimmy{  fill: none;
  stroke:black;
  opacity:1;
stroke-width:1.5px;
}
#jimmyLabel{
    fill: black;
       font-size: 14px;
       font-family: georgia;
       stroke:none;

      }

.tooltip {
    position:absolute;
    text-align: center;
    padding:2px;
    font: 14px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events:none; /*To target element underneath tooltip */
    background:rgba(255,255,255,0.5);
    color:black;
   
  
}



#title{
  font-size:34px;
  text-anchor: left;
  text-decoration: none;
  font-family: 'David Libre', sans-serif;
}
#author{
font-size:16px;
  text-anchor: left;
  text-decoration: none;
  font-family: 'David Libre', sans-serif;
}

#writings {
    width:60%;
    margin-left:20%;
    margin-right:20%;
    padding-bottom: 16px;
    font-family: georgia,"times new roman", times, serif;
    font-size:16px;
    line-height: 24px;
}


.opener {
  margin:0px;
    font-size: 24px;
    font-weight: normal;
    padding-top:0px;
    padding-right:16px;
    line-height: 32px;
}

#opener2{
  padding-top: 32px;
}

img{
  width:100%;
}

#Share{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #424242;
}

.social{text-align: center;
  width:96%;
  margin-left:16px;}
.social li{display:inline-block}
.social ul{margin-left:0;margin-bottom:0; padding-left: 0;}
.social a,.social svg{display:block}
.social a{height:1.5rem;width:1.5rem}
.icon{color:#424242;fill:#424242}
.icon:hover{border-radius:100%;background:#e8e8e8;color:#424242;fill:steelblue;-ms-transform:scale(2);transform:scale(2);transition:background-color .5s,transform .5s ease-out}





#name{
  font-family: 'David Libre', sans-serif;
  text-align: center;
  color: #3b5998;
  color:black;
  font-size: 32px;
  margin-top:16px;
  margin-bottom: 16px;
  margin-left: 0px;

}

footer{
  height:66px;
  padding-top:8px;
  margin-top: 32px;
  border-top: 1px solid black;
  bottom:0px;
  margin-left: 16px;
  width:96%;
}


footer:hover #name{
  border-radius:100%;
  margin-bottom: 0px;
  background:white;
  color:black;
  fill:steelblue;
  -ms-transform:scale(1.2);
  transform:scale(1.2);
  transition:background-color .5s,transform .5s ease-out}

a {
  text-decoration: none;
}

@media all and (max-width:900px) {
#title {
   font-size:24px;
}
#writings {
    width:80%;
    margin-right: 10%;
    margin-left:10%;
}
}

@media all and (max-width:600px) {
#title {
   font-size:18px;
   font-weight: bold;
}
.social {
  margin-left: 0px;
  width:100%;
}

}


